{% extends "layout.html" %}
{% block content %}
    <br>
    <div><h4>list of available books:</h4></div>
    <br>
    {% for list in books %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="https://www.google.com/maps/search/{{list.location}}" target="_blank">{{list.location}} </a>
          <small class="text-muted">{{ list.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="">{{ list.title }}</a></h2>
        <p class="article-content">Rs.{{ list.price }}</p>
        <p class="article-content">Author: {{ list.author }}</p>
      </div>
    </article>
    {% endfor %}
{% endblock content %}