<!DOCTYPE html>
<html lang="en">
	
<head>
		<title>Event Page</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="">

		<!--== CSS Files ==-->
		<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" media="screen">
		<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" media="screen">
		<link href="{{ url_for('static', filename='font-awesome.css') }}" rel="stylesheet" media="screen">
		<link href="{{ url_for('static', filename='owl.carousel.css') }}.css" rel="stylesheet" media="screen">
		<link href="{{ url_for('static', filename='flexslider.css') }}.css" rel="stylesheet" media="screen">
		<link href="{{ url_for('static', filename='fancySelect.css') }}" rel="stylesheet" media="screen">
		<link href="{{ url_for('static', filename='responsive.css') }}" rel="stylesheet" media="screen">

		<!--== Google Fonts ==-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	</head>
	<body>
		<header id="header">
			<div id="menu" class="header-menu fixed">
				<div class="box">
					<div class="row">
						<nav role="navigation" class="col-sm-12">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>

								<!--== Logo ==-->
								<span class="navbar-brand logo">
									Pro-Locator For Events
								</span>

							</div>
							<div class="navbar-collapse collapse">

								<!--== Navigation Menu ==-->
								<ul class="nav navbar-nav">
									<li class="current"><a href="#header">Home</a></li>
									<li><a href="#about">About us</a></li>
									<li><a href="#schedule">Events Schedule</a></li>
						            <li><a href="#Membership">Membership</a></li>
									<li><a href="#Our team">Our Team</a></li>
									<li><a href="#testimonial">Testimonials</a></li>
									<li><a href="#contact">Contact</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>

			<!--== Site Description ==-->
			<div class="header-cta">
				<div class="container">
					<div class="row">
						<div class="entry-content">
				            <p><span class="start-text"><b>From THE NOVEMBER 21, 2020</b></span></p>
				            <h4 class="entry-title"><a href="#">Locating Local events In chennai</a></h4>
				            <h5><span><b>"Some people look for a beautiful place. Others make a place beautiful.” </b></span></h5>
					    </div>
					</div>
				</div>
			</div>

			<div class="header-bg">
				<div id="preloader">
					<div class="preloader"></div>
				</div>
				<div class="main-slider" id="main-slider">

					<!--== Main Slider ==-->
					<ul class="slides">
						<li><img src="images/demo/bg-slide-01.jpg" alt="Slide Image"/></li>
						<li><img src="images/demo/bg-slide-02.jpg" alt="Slide Image 2"/></li>
					</ul>

				</div>
			</div>
		</header>

		<div class="content">
			<div class="container box">


				<!--===============================-->
				<!--== About us ===================-->
				<!--===============================-->
            	<div class="about-part">
			<div class="col-md-8">		
			<p>	<center>	<h2>ABOUT US</h2>
				</center></p>
				

				<p style="text-align:center">We are a event locator company which locates the nearby "happenings" which are taking place in city
				of chennai. We also provide additional information such as contact information,place,date,time and availability.
			    </p>
			</div>
			<div class="col-md-4">

				<p> Reliability</p>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%;">
				    99%
				  </div>
				</div>
				<br/>
				<p> Reviews</p>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%;">
				    89%
				  </div>
				</div>
				<br/>
			</div>
			</div>
			</div>
		</section>
				<!--==========-->



				<!--===============================-->
				<!--== Schedule ===================-->
				<!--===============================-->
				<section id="Events Schedule" class="row">
				<div class="title-start Events Schedule-menu col-md-4 col-md-offset-4">
				<br>
				<br>
					<h2>Events Schedule</h2>
					<p class="sub-text text-center">Check out the event details</p>
				</div>
					<ul class="timeline">
					    <li>
					        <div class="timeline-badge">
					          <a><i class="fa fa-circle" id=""></i></a>
					        </div>
					        <div class="timeline-panel">
					            <div class="timeline-heading">
					             
					                </p>

					            </div>
					            
					        </div>
					    </li>
					    
					    <li  class="timeline-inverted">
					        <div class="timeline-badge">
					          <a><i class="fa fa-circle" id=""></i></a>
					        </div>
					        <div class="timeline-panel">
					            <div class="timeline-heading">
					                <h4><a href="https://www.google.com/maps/dir//No+169+Plot+1B,+Four+Points+by+Sheraton+Chennai+OMR,+Survey,+1A,+Old+Mahabalipuram+Rd,+Kumaran+Nagar,+Sholinganallur,+Chennai,+Tamil+Nadu+600119/@12.8755891,80.1572117,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3a525b25c47351db:0x43edbf48b26760b!2m2!1d80.2272522!2d12.8755984?hl=en-GB" target="_blank">Event!!</a></h4>
					            </div>
					            <div class="timeline-body">
					                <p class="timeline-desc col-md-6">Live From The Drive-In is a reimagined live experience. Enjoy the concert in your own private individual tailgating zone - about the size of a 2 car garage. The safety of fans, artists, crews and staff is our top priority. Our drive-in shows are designed to maximize social distancing, and every event will meet all local health and safety standards, as well as state regulations.</p>
					                <p class="timeline-other col-md-6">
					                	
					                	<em class="timeline-item">
					                	 Venue : Four Points by Sheraton
					                	</em> 
					                	<em class="timeline-item">
					                	Tickets: 3000
					                	</em>
					                	<em class="timeline-item">
					                	Ticket: Rs.3000
					                	</em>
					                	<em class="timeline-item">
					                	Date : Nov-29-2020
					                	</em>
					                	<em class="timeline-item">
					                	Duration : 1 day
					                	</em>

					                </p>

					            </div>
					            
					        </div>
					    </li>
					    
					    <li>
					        <div class="timeline-badge">
					          <a><i class="fa fa-circle" id=""></i></a>
					        </div>
					        <div class="timeline-panel">
					            <div class="timeline-heading">
					                <h4><a href="https://www.google.com/maps/dir//madras+crocodile+bank/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x3a5251a3af0ea0dd:0x1102cc13ab9b9ccb?sa=X&ved=2ahUKEwijm9rvopPtAhX18HMBHQGTA2gQ9RcwFnoECBAQAw" target="_blank">Event!!!</a></h4>
					            </div>
					            <div class="timeline-body">
					                <p class="timeline-desc col-md-6">The Madras Crocodile Bank Trust and Centre for Herpetology is a reptile zoo with over 40 species of reptiles, including many endangered ones. It houses 15 of the world`s 23 species of crocodiles, and several crocodiles in numbers which are a visual treat</p>
					                <p class="timeline-other col-md-6">
					                	
					                	<em class="timeline-item">
					                	 Venue : Madras Crocodile Park
					                	</em>
					                	<em class="timeline-item">
					                	Seats : 215
					                	</em>
					                	<em class="timeline-item">
					                	Ticket: Rs.300 
					                	</em>
					                	<em class="timeline-item">
					                	Date : Dec-02-2020
					                	</em>
					                	<em class="timeline-item">
					                	Duration : 2 days
					                	</em>

					                </p>

					            </div>
					        </div>
					    </li>
					    
					    <li class="timeline-inverted">
					        <div class="timeline-badge">
					          <a><i class="fa fa-circle" id=""></i></a>
					        </div>
					        <div class="timeline-panel">
					            <div class="timeline-heading">
					                <h4><a href="https://www.google.com/maps/dir//vr+chennai/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x3a526402be882bef:0xad2f3f45016d6710?sa=X&ved=2ahUKEwiR8L_Ao5PtAhW9H7cAHYb4AbwQ9RcwFHoECBUQBQ" target="_blank">Event !!!!</a></h4>
					            </div>
					            <div class="timeline-body">
					                <p class="timeline-desc col-md-6">Broken Hearts gallery(Movie)-What if you saved a souvenir from every relationship you've ever been in? The Broken Hearts Gallery follows the always unique Lucy, a 20-something art gallery assistant living in New York City, who also happens to be an emotional hoarder.</p>
					                <p class="timeline-other col-md-6">
					                	
					                	<em class="timeline-item">
					                	 Venue : Vr chennai
					                	</em> 
					                	<em class="timeline-item">
					                	Seats : 50
					                	</em>
					                	<em class="timeline-item">
					                	Ticket: 167.78 
					                	</em>
					                	<em class="timeline-item">
					                	Date : 21-NOV-2020
					                	</em>
					                	<em class="timeline-item">
					                	Duration : 1 Day
					                	</em>

					                </p>

					            </div>
					   
					        </div>
					    </li>
					    
					    <li>
					        <div class="timeline-badge">
					          <a><i class="fa fa-circle" id=""></i></a>
					        </div>
					        <div class="timeline-panel">
					            <div class="timeline-heading">
					                <h4><a href="https://www.google.com/maps/place/Kick+Gaming+Zone/@10.1654717,76.4375754,15z/data=!4m5!3m4!1s0x0:0x497aec88e4a653f2!8m2!3d10.1654717!4d76.4375754" target="_blank">Event !!!!!</a></h4>
					            </div>
					            <div class="timeline-body">
					                <p class="timeline-desc col-md-6">Kickkk - Every goal counts is one of it's kind gaming entertainment with NO elements of video/virtual. It is specifically designed to experience gaming with friends, family, loved ones and colleagues. In this busy and stressful world, this fushion of mind & fushion help you spend quality time.</p>
					                <p class="timeline-other col-md-6">
					                	
					                	<em class="timeline-item">
					                	 Venue : KIckk-Gaming zone
					                	 </em> 
					                	<em class="timeline-item">
					                	Players:10 a team
					                	</em>
					                	<em class="timeline-item">
					                	Ticket: Rs.250
					                	</em>
					                	<em class="timeline-item">
					                	Date : From NOV-22-2020
					                	</em>
					                	<em class="timeline-item">
					                	Duration:30 mins a team
					                	</em>

					                </p>

					            </div>
					            
					        </div>
					    </li>
					    
					    <li  class="timeline-inverted">
					        <div class="timeline-badge">
					          <a><i class="fa fa-circle" id=""></i></a>
					        </div>
					        <div class="timeline-panel">
					            <div class="timeline-heading">
					         
				</section>
	







				
				<!--==========-->
				<!--===============================-->
				<!--== Pricing Tables =============-->
				<!--===============================-->
				<section id="prices" class="row">
				<div class="title-start events-menu col-md-4 col-md-offset-4">
				<h2>Membership</h2>
				<br>

				<p class="sub-text text-center">Membership details </p>
				</div>

				<div class="col-md-12 visible-md visible-lg">
					<div class="wrap">
					
						<div class="pricing-table">
							<div class="plan">
								<h3 class="name">Tier 3</h3>
								<h4 class="price">95,000<span>/Month</span></h4>

								<ul class="details">
									<li><strong>10-15</strong>Seats</li>
									<li><strong>3 Star</strong> Hotel</li>
									<li><strong>30% discount on events</strong></li>
								</ul>

								<h5 class="order"><a href="#">Apply for membership</a></h5>
							</div><!--.plan-->

							<div class="plan">
								<h3 class="name">Tier 2</h3>
								<h4 class="price">2,50,000<span>/Month</span></h4>

								<ul class="details">
									<li><strong>30-35</strong>Seats</li>
									<li><strong>5 Star</strong> Hotel</li>
									<li><strong>50% discount on events</strong></li>
								</ul>

								<h5 class="order"><a href="#">Apply for membership</a></h5>
							</div><!--.plan-->

							<div class="plan">
								<h3 class="name">Tier 1(ELITE)</h3>
								<h4 class="price">10,00,000<span>/Month</span></h4>

								<ul class="details">
									<li><strong>80-100</strong> Seats</li>
									<li><strong>7 Star</strong> Hotel</li>
									<li><strong>80% discount on events</strong></li>
								</ul>

								<h5 class="order"><a href="#">Apply for membership</a></h5>
							</div><!--.plan-->
						</div><!--.pricing-table-->
					</div><!--.wrap-->
					</div>

						<div class="col-sm-11  pricing-table visible-sm visible-xs">
					       <div class="plan">
								<h3 class="name">TIER 3</h3>
								<h4 class="price">95000<span>/Month</span></h4>

								<ul class="details">
									<li><strong>10-15</strong> Seats</li>
									<li><strong>3 Star</strong> Hotel</li>
									<li><strong>30% discount on events</strong></li>
								</ul>

								<h5 class="order"><a href="#">Apply for membership</a></h5>
							</div><!--.plan-->
						</div>	
						<div class="col-sm-11  pricing-table visible-sm visible-xs">
					       <div class="plan">
								<h3 class="name">Tier 2</h3>
								<h4 class="price">2,50,000<span>/Month</span></h4>

								<ul class="details">
									<li><strong>30-35</strong> Seats</li>
									<li><strong>5 Star</strong> Hotel</li>
									<li><strong>50% discount on events</strong></li>
								</ul>

								<h5 class="order"><a href="#">Apply for membership</a></h5>
							
								
							</div><!--.plan-->
						</div>
						<div class="col-sm-11  pricing-table visible-sm visible-xs">

							<div class="plan">
								<h3 class="name">Tier 3</h3>
								<h4 class="price">10,00,000<span>/Month</span></h4>

								<ul class="details">
									<li><strong>80-100</strong> Seats</li>
									<li><strong>7 Star</strong> Hotel</li>
									<li><strong>80% discount on events</strong></li>
								</ul>

								<h5 class="order"><a href="#">Apply for membership</a></h5>
							</div><!--.plan-->

						</div>	
				</section>
				<!--==========-->

				<!--==========-->
				<!--===============================-->
				<!--== Team =============-->
				<!--===============================-->
				
				<section id="team" class="team"> 
					<div class="container">
				<div class="title-start team-menu col-md-4 col-md-offset-4">
					<h2 class="team-heading">Our Team</h2>
					<p class="sub-text text-center">Meet the Team of Pro-Locator</p>
				</div>
				</div>
					<div class="team-member row">
					<div class="col-md-3 col-sm-6 member">
						<img class="blog-image" src="download1.jpg" width="100%" height="280" alt="Blog Image 2"/>
						<p class="name-member">Nagsrikesh, CEO,CO-Founder</p>
					    <ul class="team-ist">
					     <li>Python </li>	
					     <li>HTML5 </li>
					     <li>PS</li>	
					     </ul>
					    <div class="team-social">
					   
					    <i class="fa fa-2x fa-instagram"> <a class="instagram" href="https://www.instagram.com/nagsrikesh_07/">
					    </a></i>
					    <i class="fa fa-2x fa-twitter"><a class="twitter" href="https://twitter.com/noturregula"></i>
					    <i class="fa fa-2x fa-linkedin"><a class="linkedin" href="https://www.linkedin.com/in/nag-srikesh-8327661b4/"></i>
					    </div>
					</div>
					<div class="col-md-3 col-sm-6 member">
						<img class="blog-image" img src="download.png" style="margin: 0px 0px 1px 1px;" width="100%" height="280" alt="Blog Image 2"/>
					    <p class="name-member">Koushik, CO-Founder</p>
					    <ul class="team-ist">
					     <li>CSS3 </li>	
					     <li>HTML5 </li>
					     <li>Adobe</li>	
					     </ul>
					    <div class="team-social">
					    
					    <i class="fa fa-2x fa-instagram"></i>
					    <i class="fa fa-2x fa-twitter"></a></i>
					    <i class="fa fa-2x fa-linkedin"></i>
					    </div>
					</div>
				

				</section>
				</div></div>
				<!--==========-->
				<!--==========-->
				<!--===============================-->
				<!--== Testimonial =============-->
				<!--===============================-->
		<section id="testimonial" class="testimonial-area">
            <div class="container">
                <div class="title-start col-md-4 col-md-offset-4">
					<h2 class="team-heading white">Testimonial</h2>
					<p class="sub-text text-center">Company's Success</p>
				</div>
                <div class="row">
                    <div class="col-xs-12">
                    </div>
                    <div id="testimonial-container" class="col-xs-12">
                        <div class="testimonila-block">
                            <img src="IMG_20200114_154027.jpg" alt="clients" class="selfshot">
                            <p></p>
                            <strong>Nagsrikesh</strong>
                            <br>
                            <small>C.E.O</small>
                        </div>
                        <p>A large part of the success of our company mainly is the greatful customers who have stayed loyal to us and have 
                            always chose Pro-Locator for attending events and hotels.Another large part of the sucess are our developers,sponsors
                            famly,friends and everyone who made this project succesful.</p>
                            
            </div><!-- container -->
        </section><!-- testimonial -->
				
        		<div class="content mcontent">
				<div id="gotop" class="gotop fa fa-arrow-up"></div>
			</div>
		</div>
		 <!-- Contact Area -->

        <section id="contact" class="mapWrap">
            <div id="googleMap" style="width:100%;"></div>
            <div id="contact-area">
                <div class="container">
                    <h2 class="block_title">Hey !!!</h2>
                    <div class="row">
                        <div class="col-xs-12">
                        </div>
                        <div class="col-sm-6">
                            <div class="moreDetails">
                                   <h2 class="con-title">More About us</h2>
                                <p> Hello!! We are a couple of graduates who had the brilliant idea of setting up a event locator/management and 
                                here we are now :p</p>
                                <ul class="address">
                                    <li><i class="pe-7s-map-marker"></i><span>P-46,17TH Street,<br>Annanagar, Chennai 600040,<br>India</span></li>
                                    <li><i class="pe-7s-mail"></i><span>nagsrikesh@gmail.com</span></li>
                                    <li><i class="pe-7s-phone"></i><span>+91 7358207313</span></li>
                                    <li><i class="pe-7s-global"></i><span><a href="#">www.themewagon.com</a></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h2 class="con-title">Contact us</h2>
                            <form role="form">
                              <div class="form-group">
                                <input type="text" class="form-control" id="user_name" placeholder="Enter your name">
                              </div>
                              <div class="form-group">
                                <input type="email" class="form-control" id="your_email" placeholder="Enter your email">
                              </div>
                              <div class="form-group">
                                <textarea name="InputMessage" id="user_message" class="form-control" rows="5" required></textarea>
                              </div>

                              <button type="submit" class="btn medium">Let us know</button>
                            </form>   
                        </div>
                    </div>
                </div><!-- container -->
            </div><!-- contact-area -->
            <div id="social">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="scoialinks">
                                <li class="normal-txt">Find us on</li>
                                <li class="social-icons"><a class="instagram" href="https://www.instagram.com/nagsrikesh_07/"></a></li>
                                <li class="social-icons"><a class="twitter" href="https://twitter.com/noturregula"></a></li>
                                <li class="social-icons"><a class="linkedin" href="https://www.linkedin.com/in/nag-srikesh-8327661b4/"></a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- social -->
        </section><!-- contact -->
		<footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="copyright">© Copyright 2020 Prolocator</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="designed">Designed and Developed by Team of Pro locator</p>
                    </div>
                </div>
            </div>
        </footer>


		<!--== Javascript Files ==-->
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script src="js/jquery-2.1.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.scrollTo.js"></script>
		<script src="js/jquery.nav.js"></script>
		<script src="js/jquery.flexslider.js"></script>
		<script src="js/jquery.accordion.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/jquery.fitvids.js"></script>
		<script src="js/gmap3.js"></script>
		<script src="js/fancySelect.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/main.js"></script>
		<script type="text/javascript"> 

		$(document).ready(function() {
 
		  $("#testimonial-container").owlCarousel({
		 
		      navigation : false, // Show next and prev buttons
		      slideSpeed : 700,
		      paginationSpeed : 400,
		      singleItem:true,
		  });
 
		});
                                                                                                                                                                                                                                      
	 </body>
</html>